<!-- breadcrumbs -->
<div class="card" style="height: 34px;">
    <nav aria-label="breadcrumb"  style="padding-left: 12px; padding-top: 4px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>

            <li class="breadcrumb-item active"><a href="/{%if article%}blog/{{article.slug}}.html{%else%}{{page.slug}}.html{%endif%}">
                {%if article%}{{article.title}}{%else%}{{page.title}}{%endif%}
            </a></li>

            <li class="breadcrumb-item active">(<a href="https://github.com/apache/infrastructure-website/tree/master/content/{%if article%}blog/{{article.slug}}.md{%else%}pages/{{page.slug}}.md{%endif%}">edit</a>)</li>

        </ol>
    </nav>
</div>
