{% block head %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }} - Apache Infrastructure</title>
    <link rel="stylesheet" href="{{SITEURL}}/theme/css/foundation.css">
    <link rel="stylesheet" href="{{SITEURL}}/theme/css/app.css">
    <link rel="stylesheet" href="{{SITEURL}}/theme/css/font-awesome.min.css">
  </head>
  <body style="background: #EDD6B4;">
    {% include "menu.html" %}
    
    <!-- bread crumb -->
    <div class="row">
      <div class="large-12 columns" style="font-size: 0.8rem;">
        <a href="/">Home</a>
        <i class="fa fa-angle-double-right"></i>
        <a href="{{SITEURL}}/news/{{article.slug}}.html">{{article.title}}</a>
      </div>
    </div>
    
    
    <!-- contents -->
    <div class="row">
      <div class="large-12 columns">
        <div class="callout">
          <h2>{{ article.title }}</h2>
          {{ article.content }}
        </div>
      </div>
    </div>
    </div>
    
    <!-- footer -->
    <div class="row">
      <div class="large-12 medium-12 columns">
        <p style="font-style: italic; font-size: 0.8rem; text-align: center;">
          Copyright {{ CURRENTYEAR }}, <a href="https://www.apache.org/">The Apache Software Foundation</a>, Licensed under the Apache License, Version 2.0.<br/>
          Apache and the Apache feather logo are trademarks of The Apache Software Foundation.
        </p>
      </div>
    </div>
    
    <script src="{{SITEURL}}/theme/js/vendor/jquery.js"></script>
    <script src="{{SITEURL}}/theme/js/vendor/what-input.js"></script>
    <script src="{{SITEURL}}/theme/js/vendor/foundation.js"></script>
    <script src="{{SITEURL}}/theme/js/app.js"></script>
  </body>
</html>
{% endblock %}