{% block head %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{SITENAME}}</title>
    {% include "styles.html" %}
  </head>
  <body style="background: #C9B191;">
    {% include "menu.html" %}
    
    <div class="row">
      <div class="large-12 columns">
        <div class="callout">
          <h3>Welcome to the web site of the Apache Infrastructure Team!</h3>
          <p>
            <q style="font-size: 1.15rem; color: #666; margin-bottom: 15px; font-style: italic;">The ASF does not have offices or buildings, it's an
            intangible entity that exists only on the internet. Its only
            physical existence is the technical infrastructure that
            enables it to operate, and the team that manages it.</q>
          </p>
          <div class="row">
            <!-- how can we help? -->
            <div class="large-4 medium-4 columns">
              <div class="frontbox">
                <a href="/help.html"><span class="clickable"></span></a>
                <h3 style="text-transform: capitalize; text-align: center;">
                  <i class="fa fa-question-circle" style="color: #FFF; font-size: 20pt;"></i>
                  <a href="/help.html" style="font-size: 90%;">How can we help?</a>
                </h3>
                <p style="height: 110px; font-size: 0.9rem;">
                  
                  The Apache Infrastructure team exists to ensure the
                  day-to-day operations of the technical aspects of the
                  foundation. If you have questions about or require
                  support regarding email, code repositories, web sites,
                  issue trackers and so forth, we are here to help!
                </p>
                <p style="text-align: center; margin-bottom: -10px;">
                  <a href="/help.html" class="button">Learn More...</a>
                </p>
              </div>
            </div>
            
            <!-- helping out (volunteering) -->
            <div class="large-4 medium-4 columns">
              <div class="frontbox">
                <a href="/volunteer.html"><span class="clickable"></span></a>
                <h3 style="text-transform: capitalize; text-align: center;">
                  <i class="fa fa-handshake-o" style="color: #FFF; font-size: 20pt;"></i>
                  <a href="/volunteer.html" style="font-size: 90%;">How can you help?</a>
                </h3>
                <p style="height: 110px; font-size: 0.9rem;">
                  Volunteers are the driving force of the Apache
                  Software Foundation. The Infrastructure team is
                  always looking for people willing to help out at
                  whatever effort level suits just you.
                </p>
                <p style="text-align: center; center; margin-bottom: -10px;">
                  <a href="/volunteer.html" class="button">Learn More...</a>
                </p>
              </div>
            </div>
            
            <!-- who are we (team etc) -->
            <div class="large-4 medium-4 columns">
              <div class="frontbox">
                <a href="/team.html"><span class="clickable"></span></a>
                <h3 style="text-transform: capitalize; text-align: center;">
                  <i class="fa fa-group" style="color: #FFF; font-size: 20pt;"></i>
                  <a href="/team.html" style="font-size: 90%;">Who are we?</a>
                </h3>
                <p style="height: 110px; font-size: 0.9rem;">
                  
                  The Infrastructure team is responsible for the
                  management and day-to-day system administration and
                  operation of the various hardware that runs the many
                  services at the ASF. Click the button below to learn
                  more about who we are and how we operate.
                </p>
                <p style="text-align: center; center; margin-bottom: -10px;">
                  <a href="/team.html" class="button">Learn More...</a>
                </p>
              </div>
            </div>
            
        </div>
      </div>
    </div>
    </div>
    
    
    <!-- news -->
    <div class="row">
      <div class="large-12 medium-12 columns">
        <div class="callout">
        <h3>News from Infrastructure:</h3>
        <hr/>
          {% endblock %}
          
          {%block content %}
          
          {% if articles %}
              {% for article in articles_page.object_list %}        
          
                  {# First item #}
              
                      <aside id="featured">
                          <div class="body">
                              <article>
                                  <h4><a href="{{ article.url }}">{{ article.title }}</a> - {{ article.date|strftime('%d %B %Y') }}</h4>
                                  {{ article.summary }}
                              </article>
              {% if loop.last and (articles_page.has_previous() or not articles_page.has_previous() and loop.length > 1) %} 
                              {% include 'pagination.html' %}
                          {% endif %}
                          <hr/>
                          </div>
                      </aside><!-- /#featured -->
                      
                  
              {% endfor %}
          {% else %}
          <!--
          <section id="content" >
              <div class="body">
              <h2>Pages</h2>
                  {% for page in PAGES %}
                      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                  {% endfor %}
              </div>
          </section>
          -->
          {% endif %}
          {% endblock %}
        </div>
      </div>
    </div>
    
    {% include "footer.html" %}
    <script src="/theme/js/vendor/jquery.js"></script>
    <script src="/theme/js/vendor/what-input.js"></script>
    <script src="/theme/js/vendor/foundation.js"></script>
    <script src="/theme/js/app.js"></script>
    
  </body>
</html>
