    <!-- Menu bar --->
    <div class="row">
      <div class="top-bar" style="padding: 0; margin-bottom: 10px; background: #222; border: 1px solid #DDD; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;">
        <div class="hide-for-small-only">
          <div class="top-bar-left">
            <ul class="menu" style="background: #222; padding: 0px; line-height: 1; border-bottom-left-radius: 4px;">
              <li class="notable-logo"><a href="/" target="_self" style="padding: 3px; padding-left: 7px;">
                <img style="vertical-align: middle;" src='/theme/images/feather.png' width='18'/><span style="font-size: 1.30rem; color: #1583CC; text-transform: uppercase;">Apache Infrastructure</span></a>
              </li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="dropdown menu horizontal" data-dropdown-menu style="background: #222; font-size: 0.8rem; text-transform: uppercase; padding-top: 5px;">
              <li><a href="/reference/" target="_self" style="padding-left: 5px;">Documentation</a></li>
              <li class="is-dropdown-submenu-parent">
                <a href="#" target="_self" style="padding-left: 0px;">Services and Status</a>
                <ul class="menu" style="background: #222; font-size: 0.7rem; text-transform: uppercase; padding-top: 5px; margin-top: 5px;">
                <li><a href="https://status.apache.org/" >Status Report</a></li>
                <li><a href="https://issues.apache.org/jira/" >JIRA</a></li>
                <li><a href="https://cwiki.apache.org/" >Confluence</a></li>
                <li><a href="https://builds.apache.org/" >Jenkins</a></li>
                <li><a href="https://ci.apache.org/" >Buildbot</a></li>
                <li><a href="/fingerprints.html" >Fingerprints</a></li>
                </ul>
              </li>
              <li class="is-dropdown-submenu-parent">
                <a href="#" target="_self" style="padding-left: 7px;">Self Serve</a>
                <ul class="menu" style="background: #222; font-size: 0.7rem; text-transform: uppercase; padding-top: 5px; margin-top: 5px;">
                  <li><a href="/self-serve/acreq/">Account requests</a></li>
                  <li><a href="/self-serve/mlreq/">New Mailing lists</a></li>
                  <li><a href="/self-serve/mlreq/mlreq/incubator">New Podling Mailing lists</a></li>
                  <li><a href="/self-serve/reporeq/">New git repository</a></li>
                  <li><a href="/self-serve/id/">Edit account information</a></li>
                  <li><a href="/contact.html">Other inquiries</a></li>
                </ul>
              </li>
              <li class="is-dropdown-submenu-parent">
                <a href="#" target="_self" style="padding-left: 7px;">About</a>
                <ul class="menu" style="background: #222; font-size: 0.7rem; text-transform: uppercase; padding-top: 5px; margin-top: 5px;">
                  <li><a href="/team.html">About the team</a></li>
                  <li><a href="/policies.html">Our policies</a></li>
                  <li><a href="/roadmap.html">Strategies & Roadmap</a></li>
                  <li><a href="/contact.html">Contact infrastructure</a></li>
                </ul>
              </li>
              <li><a href="http://infra.chat" style="padding-left: 5px;"><i class="fa fa-weixin" style="color: #FFF; font-size: 0.9rem;"></i>Chat with Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
