    <link rel="stylesheet" href="/theme/css/foundation.css">
    <link rel="stylesheet" href="/theme/css/app.css">
    <link rel="stylesheet" href="/theme/css/font-awesome.min.css">
    <style type="text/css">
      .frontbox {
        border-radius: 8%;
        border: 1px solid #999; background: #444; color: #EEE; padding: 6px; margin: 3px;
      }
      .frontbox:hover {
        border-top: 4px solid #1583CC;
        margin-top: 0px;
        cursor: pointer;
      }
      .clickable {
	/* height was reduced by 40% */	
	height: 60%;
        width: 30%;
        position: absolute;     
        z-index: 1;
      }
    </style>
