{% block head %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel='shortcut icon' type='image/x-icon' href='/extra/favicon.ico' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }} - {{SITENAME}}</title>
    {% include "styles.html" %}
  </head>
  <body class="d-flex flex-column h-100">
  <main class="flex-shrink-0">
    {% include "menu.html" %}
    {% include "breadcrumbs.html" %}
    
    {% include "generic.html" %}
    
    {% include "footer.html" %}
  </main>
  </body>
</html>
{% endblock %}
