{% block head %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }} - {{SITENAME}}</title>
    {% include "styles.html" %}
  </head>
  <body style="background: #C1C1C1;">
    {% include "menu.html" %}
    
    {% include "generic.html" %}
    
    {% include "footer.html" %}
    
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
{% endblock %}
