
            <h3 style="text-align:center">Welcome to the website of Infra, the Apache Infrastructure Team!</h3>
            <p style="text-align:center"><i>Serving the technical needs of The Apache Software Foundation and its projects</i></p>
            <hr/>
            <div class="row">
                <!-- how can we help? -->
                <div class="col-md">
                    <div class="card rounded-3 bg-light h-100">
                        <div class="card-body d-flex flex-column">
                            <a href="/contact.html"></a>
                            <h5 class="card-title text-center text-capitalize">
                                <i class="fa fa-question-circle" style="color: #000; font-size: 16pt;"></i>
                                <a href="/contact.html" >Looking for Help?</a>
                            </h5>
                            <p class="card-text">
                                The Apache Infrastructure team, or <em>Infra</em>, supports the
                                day-to-day operations of the technical aspects of the
                                foundation and its projects. If you have questions or require
                                support with email, code repositories, virtual machines, web sites,
                                issue trackers and more, we are here to help!
                            </p>
                            <div class="d-grid mt-auto">
                                <a href="/contact.html" class="btn btn-primary">Learn More...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- services and tools -->
                <div class="col-md">
                    <div class="card rounded-3 bg-light h-100">
                        <div class="card-body d-flex flex-column">
                            <a href="/services.html"></a>
                            <h5 class="card-title text-center text-capitalize">
                                <i class="fa fa-handshake" style="color: #000; font-size: 16pt;"></i>
                                <a href="/services.html">Services and Tools</a>
                            </h5>
                            <p class="card-text">
                                Infra supports services for the ASF and its projects,
                                including GitBox, Jira, Confluence, Jenkins, and Buildbot.
                                We have an extensive toolbox that contains both home-brewed solutions and
                                "off the shelf" offerings. Feel free to check them out.
                            </p>
                            <div class="d-grid mt-auto">
                                <a href="/services.html" class="btn btn-primary">Learn More...</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- who are we (team etc) -->
                <div class="col-md">
                    <div class="card rounded-3 bg-light h-100">
                        <div class="card-body d-flex flex-column">
                            <a href="https://selfserve.apache.org/" target="_blank"></a>
                            <h5 class="card-title text-center text-capitalize">
                                <i class="fa fa-user-cog" style="color: #000; font-size: 16pt;"></i>
                                <a href="https://selfserve.apache.org/" target="_blank">Self-serve</a>
                            </h5>
                            <p class="card-text">
                                Use our self-serve features to perform tasks ranging from requesting a Jira account to creating a mailing list, without having to involve the Infra team.
                            </p>
                            <div class="d-grid mt-auto">
                                <a href="https://selfserve.apache.org/" target="_blank" class="btn btn-primary">Learn More...</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


<!-- news -->
        <div class="callout mt-3">
            <h3>News from Infra</h3>
            <i>More information and longer-form articles appear on <a href="https://infra.apache.org/blog/">the Infra Blog</a>.</i>
            <hr/>
            <p><b>February 23, 2024</b>: The new issue of "Inside Infra", the Infrastructure monthly newsletter, is now available on our <a href="https://infra.apache.org/blog/newsletter_02_24.html">blog</a>. If you would like to receive it by email, subscribe to <code>users@infra.apache.org</code>.</p>
             <p>The next Infrastructure Roundtable takes place <b>Wednesday, March 6, 17:00 UTC</b>. Here are <a href="https://infra.apache.org/roundtable.html">details</a> about the Roundtable series and how to join us.</p>
            <p><b>February 13, 2024:</</b> The responses to Infra's <b></b>2023 year-in-review survey</b> are <a href="https://infra.apache.org/blog/2023%20Infra%20Survey%20Results.html">available</a>.</p>
            <hr/>
            <p style="height: 60px; font-size: 0.9rem;">We periodically publish updates about Infra's work, successes, and challenges on <a href="https://blogs.apache.org/infra/" target="_blank">the Infra blog</a>.</p>

        </div>
