    <!-- Menu bar --->
    <div class="row">
      <div class="top-bar" style="padding: 0; margin-bottom: 10px; background: #222; border: 1px solid #DDD; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;">
        <div class="hide-for-small-only">
          <div class="top-bar-left">
            <ul class="menu" style="background: #222; padding: 0px; line-height: 1; border-bottom-left-radius: 4px;">
              <li class="notable-logo"><a href="/" target="_self" style="padding: 3px; padding-left: 7px;">
                <img style="vertical-align: middle;" src='/images/feather.png' width='18'/><span style="font-size: 1.30rem; color: #1583CC; text-transform: uppercase;">Apache Infrastructure</span></a>
              </li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="dropdown menu horizontal" data-dropdown-menu style="background: #222; font-size: 0.8rem; text-transform: uppercase; padding-top: 5px;">
              <li class="is-dropdown-submenu-parent">
                <a href="#" target="_self" style="padding-left: 7px;">About</a>
                <ul class="menu" style="background: #222; font-size: 0.7rem; text-transform: uppercase; padding-top: 5px; margin-top: 5px;">
                  <li><a href="/team.html">About the team</a></li>
		  <li><a href="https://blogs.apache.org/infra/" target="_blank">The Infra Blog</a></li>	
	          
                </ul>
              </li>
              <li><a href="/policies.html" target="_blank" style="padding-left: 5px;">Policies</a></li>
                           
              <li class="is-dropdown-submenu-parent">
                 <a href="#" target="_self" style="padding-left: 0px;">Services-Tools</a>
                <ul class="menu" style="background: #222; font-size: 0.7rem; text-transform: uppercase; padding-top: 5px; margin-top: 5px;">
		<li><a href="/services.html">Services and Tools</a></li>
                <li><a href="/machines.html" target="_blank" >Machines and Fingerprints</a></li>
                <li><a href="https://blocky.apache.org" target="_blank" >Blocky</a></li>
		<li><a href="https://app.datadoghq.com/account/login?next=%2Finfrastructure" target="_blank" >DataDog</a></li>
		<li><a href="https://docs.newrelic.com/docs/infrastructure/host-integrations/host-integrations-list/apache-monitoring-integration/" target="_blank" >New Relic</a></li>
		<li><a href="https://whimsy.apache.org/roster/committer/" target="_blank" >Committer Search</a></li>
		
                </ul>
              </li>
              <li><a href="/doc.html" target="_blank" style="padding-left: 5px;">Documentation</a></li>
	       <li class="is-dropdown-submenu-parent">
                 <a href="#" target="_self" style="padding-left: 0px;">Contribute</a>
                <ul class="menu" style="background: #222; font-size: 0.7rem; text-transform: uppercase; padding-top: 5px; margin-top: 5px;">	
		   <li><a href="/infra-volunteer.html">Volunteer with Infra</a></li>
		   <li><a href="/how-to-mirror.html">Become an ASF download mirror</a></li>
			<li><a href="/hosting-external-agent.html">Host a Jenkins or Buildbot agent</a></li>
		 </ul>
	       </li>
	      
              <li><a href="/stats.html" target="_blank" style="padding-left: 5px;">Status</a></li>
              <li><a href="/contact.html" style="padding-left: 5px;"><i class="fa fa-comments" style="color: #FFF; font-size: 0.9rem;"></i>Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
