<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="https://apache.org/images/feather.png" style="height: 32px;"/> Apache Infrastructure</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarADP" aria-controls="navbarADP" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarADP">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">About</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/infra-news.html">News</a></li>
                        <li><a class="dropdown-item" href="/blog/">The Infrastructure Blog</a></li>
                        <li><a class="dropdown-item" href="/roundtable.html">The Infrastructure Roundtable</a></li>
                        <li><a class="dropdown-item" href="/team.html">About the team</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/policies.html">Policies</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Services and Tools</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/services.html">Services and Tools</a></li>
                        <li><a class="dropdown-item" href="https://blocky.apache.org/">Blocky</a></li>
                        <li><a class="dropdown-item" href="https://whimsy.apache.org/roster/committer/" target="_blank">Committer Search</a></li>
                        <li><a class="dropdown-item" href="https://infra.apache.org/tools/csp.html">Content Security Policy Builder</a></li>
                        <li><a class="dropdown-item" href="https://app.datadoghq.com/account/login?next=%2Finfrastructure">DataDog</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Documentation</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/doc.html">Infra docs</a></li>
                        <li><a class="dropdown-item" href="/present.html">Infra presentations</a></li>
                    </ul>
                </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Contribute</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/hosting-external-agent.html">Host a Jenkins or Buildbot agent</a></li>
                        <li><a class="dropdown-item" href="/infra-volunteer.html">Volunteer with Infra</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats.html">Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact.html">Contact Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle hidden-xs" data-bs-toggle="dropdown">
                        <span class="fa-solid fa-magnifying-glass" aria-hidden="true"></span> Search</a>
                    <ul class="search-form dropdown-menu">
                        <li>
                            <div id="pagefind-search" class="input-group" style="width: 100%; padding: 0 5px;"></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
