<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/fontawesome.all.min.css" rel="stylesheet">
<link href="/css/headerlink.css" rel="stylesheet">
<script src="/highlight/highlight.min.js"></script>
<!-- pagefind search -->
<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
      new PagefindUI({ element: "#pagefind-search" });
  });
  var pageTitle = '';
  if(pageTitle === '404'){
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#page-404-search" });
    });
  }
</script>
<!-- pagefind search box styling -->
<style type="text/css">
.search-form {
	right: 0;
	left: initial !important;
        min-width: 25vw;
	max-width: 90vw;
	max-height: calc(95vh - 100px);
	overflow: auto;
	margin-top: 5px;
}
</style>

